<?xml version="1.0"?>
<launch>
	<arg name="gazebo_elevator" default="false" doc="gives approval to use inside_elevator service. this service is for simulation purposes only!"/>

	<node name="elevator_entrance" pkg="elevator_services" type="elevator_entrance.py" output="screen">
	    <rosparam file="$(find elevator_services)/config/elevator_entrance_real_robot.yaml" command="load"/>
		<param name="gazebo" value="$(arg gazebo_elevator)"/>
	</node>
	
	<node name="exit_elevator" pkg="elevator_services" type="exit_elevator.py" output="screen">
	    <rosparam file="$(find elevator_services)/config/exit_elevator_real_robot.yaml" command="load"/>
		<param name="gazebo" value="$(arg gazebo_elevator)"/>
	</node>
	
	<node name="switch_map_service" pkg="elevator_services" type="switch_map_service.py" output="screen"/>
</launch>
